{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container p-4">
        <h1 class="mb-3">Changement des informations personnelles</h1>

        {{form(form)}}
    </div>
{% endblock %}
