{% extends "base.html.twig" %}
{% block title %}Receipt-Symf - Inscription {% endblock %}

{% block body %}

<div class="container p-4">
    <h1 class="mb-3">Formulaire d'inscription</h1>
    

    {{form(form)}}
</div>

{% endblock %}